<!DOCTYPE html>
<html>
    <head>
        <title>Survey Monkey Location Trends</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    </head>
    <body>
        <script>
            //screw the prompt, use display none and populate the page after a sucessful check.
        </script>




        <div id="dialog-form" title="Create new user" class="hidden">
            <p class="validateTips">All form fields are required.</p>
            <form>
            <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
            </fieldset>
            </form>
        </div>
    


        <div class="bd">

            <form enctype="application/x-www-form-urlencoded" action="#" method="GET" name='api-data'>
                <label for="api-key">API Key: </label>
                <input type="text" name="api-key"><br>
                
                <label for="api-token">API Access Token: </label>
                <input type="text" name="api-token"><br>

                <input type="button" id='create-user' name="api-button" value="Validate API Information">
            </form>



            <form enctype="application/x-www-form-urlencoded" action="#" method="GET" name='Survey ID Form' id='survey-id-form'>
                <fieldset form="survey_id">
                    <div>
                        <label for="survey-id">Survey ID</label>
                        <input type="number" autofocus="" title="SM_Survey_ID" size="20"  value="" name="survey_id" id="survey_id">
                    </div>
                    <input type="submit" value="Submit Keys">
                 </fieldset> 
             </form>





        </div>
    </body>
</html>
