<!DOCTYPE html>
<html>
    <head>
        <title>Survey Monkey Location Trends</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="hd">
        </div>
        <div class="bd">
            {% if session.logged_in %}
            {% else %}
            <form enctype="application/x-www-form-urlencoded" action="/add_keys" method="POST" name="user_information_form" id="user_information_form">
                <fieldset form="api_key">
                    <div>
                        <label for="key">Surveymonkey_API_Key</label>
                        <input type="text" autofocus="" title="SM_API_Key" size="20" class="textfield" value="" name="key" id="key">
                    </div>
                    <div>
                        <label for="token">Surveymonkey_Token</label>
                        <input type="text" autofocus="" title="SM_Token" size="20" class="textfield" value="" name="token" id="token">
                    </div>
                    <div>
                        <label for="ipinfo">IPInfoDB_Key</label>
                        <input type="text" autofocus="" title="IPInfoDB_Key" size="20" class="textfield" value="" name="ipinfo" id="ipinfo">
                    </div>
                    <div>
                        <label for="password">Enter your password:</label>
                        <input type="password" autocomplete="off" size="20" class="textfield" name="password" id="password">
                    </div>
                    <div id="remember">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        <label for="remember_me">Remember me!</label>
                    </div>
                    <input type="submit" value="Submit Keys">
                </fieldset>
            </form>
            {% endif %}
            <div class=flash>{{ message }}
            </div>
            <div class=form>
                {% if session.logged_in %}
                <div>THE LOGIN WORKED</div>
                {% endif %}
                <ul class=entries>
                {% for entry in entries %}
                <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
                <li><em>Unbelievable.  No entries here so far</em>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div id="ft">
        </div>
    </body>
</html>






