<!DOCTYPE html>
<html>
    <head>
        <title>Survey Monkey Location Trends</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="bd">
            <div> {{ message }} </div>
            <form enctype="application/x-www-form-urlencoded" action="#" method="GET" name='Survey ID Form' id='survey-id-form'>
                <fieldset form="survey_id">
                    <div>
                        <label for="survey-id">Survey ID</label>
                        <input type="number" autofocus="" title="SM_Survey_ID" size="20"  value="" name="survey_id" id="survey_id">
                    </div>
                    <input type="submit" value="Submit Keys">
                 </fieldset> 
             </form>
        </div>
    </body>
</html>
