<!DOCTYPE html>
<html>
    <head>
        <title>Survey Monkey Location Trends</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>
        {% if pages %}
        <div> {{ message }} </div>
        <ul>
            {% for page in range(pages) %}
            <li>
            {{ page + 1 }}
                <ul>
                    {% for question in range(questions[page]) %}
                    <li>
                    <a href="/question/{{survey_id}}/{{page}}/{{question}}">Question {{ question + 1 }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="bd">
            <div> {{ message }} </div>
             <form enctype="application/x-www-form-urlencoded" action="/" method="GET" name='Survey ID Form' id='survey-id-form'>
                <fieldset form="survey_id">
                    <div>
                        <label for="survey-id">Survey ID</label>
                        <input type="text" autofocus="" title="SM_Survey_ID" size="20" class="textfield" value="" name="survey_id" id="survey_id">
                    </div>
                    <input type="submit" value="Submit Keys">
                 </fieldset> 
             </form>
        </div>
        {% endif %}
    </body>
</html>
