<html>
    <head>
        <title>Survey Monkey Location Trends</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>
        {% if pages %}
        <div> {{ message }} </div>
        <ul>
            {% for page in range(pages) %}
            <li>
            {{ page + 1 }}
                <ul>
                    {% for question in range(questions[page]) %}
                    <li>
                    <a href="/question/{{survey_id}}/{{page}}/{{question}}">Question {{ question + 1 }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
